<!DOCTYPE html>
<html>
  <head>
    <title><%= full_page_title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!--header-->
    <%= render('layouts/shared/header')%>
    <!---->
    <div class="container main_play_ground">
      <div class="row">
        <!--sider-->
        <%= render('layouts/shared/sider')%>
        <div class="col-lg-9">
          <%= yield %>
        </div>
        <!--/sider-->
      </div>
    </div>
<!--    debug infomations-->
    <%= render('layouts/shared/footer')%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </body>
</html>
